* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.app {
  height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-layout {
  display: flex;
  gap: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 220px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* MAIN CURRENT CARD */
.current {
  width: 260px;
  transform: scale(1.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.temp {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

.big-temp {
  font-size: 52px;
  font-weight: bold;
  margin: 15px 0;
}

.desc {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.small {
  font-size: 14px;
  opacity: 0.9;
}

.extra {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.forecast div {
  margin: 8px 0;
  font-size: 14px;
}
